/* 
    Document   : newCascadeStyleSheet
    Created on : Jul 25, 2013, 10:54:52 AM
    Author     : DavisonPro
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

